html {
  height:100%;
}

html * {
  font-family: 'Verdana' , sans-serif;
  font-size: large;
  font-weight: bold;
}

body {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  background: linear-gradient(#7CB9E8,#F0F8FF);
}

.calculator {
  margin: auto;
  height: 700px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(100px, 2fr));
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.calculator .output {
  grid-column: span 4;
  min-height: 100px;
  min-width: auto;
  background-color: rgba(216, 247, 252, 0.9);
  border: 1.5px solid white;
  outline: none;
  margin: 2px;
  padding: 10px;
  overflow-wrap: break-word;
  text-align: right;
  vertical-align: middle;
  font-size: xx-large;
}

.calculator .span {
  grid-column: span 2;
}

.calculator > button {
  background-color: rgb(255 , 255 , 255 , .70);
  border: 1.5px solid white;
  outline: none;
  margin: 2px;
  cursor: pointer;
}

.calculator > button:hover{
  background-color: rgb(255 , 255 , 255 , .90);
}